bitsandbytes==0.43.0
chromadb==0.4.24
einops==0.7.0
faiss-gpu==1.7.2
keybert==0.8.4
openai==1.13.3
pinecone-client[grpc]==2.2.1
langchain==0.1.11
langchain-community==0.0.27
langchain-core==0.1.30
langchain-openai==0.0.8
langchain-text-splitters==0.0.1
tiktoken==0.6.0
datasets==2.14.0
google-api-python-client
git+https://github.com/openai/whisper.git
pytube
rank-bm25==0.2.2
scikit-learn==1.4.1.post1
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
span-marker==1.5.0
text-generation==0.7.0
youtube-search-python
yt-dlp